body {
    background-color: rgb(138, 18, 9);
    color: rgb(221, 187, 36);
    background-image: url(../images/backgroundhero.jpg);
    font-family: 'Handlee', cursive;
}

a:visited {
    color: rgb(221, 187, 36);
}

h1 {
    margin: 10px;
}

#roll-result {
    font-size: 20px;
    margin: 10px;
}

#credits {
    font-size: .70em;
    margin-top: 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    border: solid;
    border-radius: 5px;
    margin: 1% 5%;
    background-color: rgb(138, 18, 9);
}

/* tablets */
@media (min-width: 600px) {
    main {
        margin: 1% 6%;
    }
    #credits {
    font-size: .80em;
}
}

/* desktops */
@media (min-width: 900px) {
    main {
        margin: 1% 7%;
    }
    #credits {
    font-size: .90em;
}
}

#roller-button {
    background-color: rgb(45, 45, 122);
    color: rgb(221, 187, 36);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: 'Bangers', fantasy;
    font-size: 30px;
    border-color: rgb(60, 32, 32);
    margin: 10px;
}

#roller-button:hover {
    background-color: rgb(1, 1, 60);
    cursor: pointer;
}

#die-display {
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 5px;
    margin: 10px;
    background-image: url(../images/backgrounddie.jpg);
}